.weatherDataContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  gap: 16px;
  padding: 20px;
  width: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #ffffff;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);
;
}

.prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  background-image: none;
  backdrop-filter: blur(10px);
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px) saturate(50%);
  padding: 16px;
  flex-grow: 1;
  width: 100%;
}

.prop p {
  margin: 5px 0 2px 0;
  font-size: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.prop span {
  font-size: 1.3rem;
  font-weight: 700;
}

.tempAndDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.tempDetails, .descriptionDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.descriptionDetails span {
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: 1.4;
}

.tempDetails div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempDetails span {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
}

.tempDetails small {
  font-size: 0.85rem;
  opacity: 0.8;
  font-weight: 400;
}

.tempBlockCard,
.windSpeedCard,
.pressureCard,
.humidityCard {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(211, 211, 211, 0.3);
  width: 200px;
  min-height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.humidityCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.humidityCard p{
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}
.circleWrapper {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.humidityCircle{
  width: 100%;
  height: 100%;

}

.tempBlock > div,
.windSpeed > div,
.pressure > div,
.humidity > div {
  height: 100%;
}

.tempIcon{
  margin-right: -25px;
}
.prop svg,
.prop svg,
.prop svg,
.prop svg  {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}




@media (max-width: 768px) {
  .weatherDataContainer {
    flex-direction: column;
    align-items: center;
  }
  .humidityCard{
    justify-content: space-around;
  }
  .circleWrapper{
    width: 100px;
    height: 100px;
  }

  .tempBlockCard,
  .windSpeedCard,
  .pressureCard,
  .humidityCard {
    width: 300px;
    max-width: 350px;
  }

  .tempAndDesc {
    flex-direction: row;
    gap: 24px;
  }
}


