.forecastSection {
    margin-top: 15px;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(211, 211, 211, 0.3);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);




}

.forecastSection h3 {
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

}



.forecastContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    overflow-x: auto;
    gap: 20px;
}

.dayItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(211, 211, 211, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
;


}

.date {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
}

.icon {
    margin: 10px 0;
}
.icon svg{
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));

}

.temp {
    font-size: 1.5rem;
    font-weight: bold;
}

.desc {
    font-size: 0.85rem;
    opacity: 0.8;
    text-align: center;
    text-transform: capitalize;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .forecastContainer {
        justify-content: flex-start;
        padding-bottom: 10px;
        overflow-x: auto;
        flex-direction: column;
    }

    .dayItem {
        min-width: 140px;
        flex: none;
    }
}
.forecastTitle{
    font-size: large;
}
