.searchField{
  display: block;
  margin: 0 auto;
  padding: 15px 49px;
  border-radius: 100px;
  width: 576px;
  color: #D1D5DB;
  background-color: transparent;
  backdrop-filter: blur(15px);
  outline: none;
  border: 1px solid rgba(211, 211, 211, 0.5);

  &:focus{
  border-color: white;
  }

}
.searchBox{
  position: relative;
  width: 576px;
  margin: 0 auto 24px;

}
.searchIcon{
  position: absolute;
  left: 15px;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);


}