.searchField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
}
.searchField:focus {
  border-color: #17476d;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.searchBtn {
  background-color: rgb(103, 175, 233, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  margin-top: 10px;
  width: 300px;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 300px;
  }
}
.searchBtn:hover {
  background-color: #559edc;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
